body {
  margin: 0;
  color: black;
}

a {
  font-size: 1.25rem;
  text-decoration: none;
  color: #006400;
}

h1 {
  font-size: 3rem;
  margin: 0 0 5px 0;
}

h2 {
  font-size: 1.625rem;
  margin-bottom: 5px;
}

h4 {
  font-size: 1.25rem;
  margin-bottom: 50px;
}

.wrapper {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-size: 1.25rem;
  margin: 5px 20% 40px 20%;
}
